fieldset{
    border: 1px solid cornflowerblue;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 4px black;
}
h2{
    text-align: center;
    color: blue;
}
legend{
    color: cornflowerblue;
    text-align: center;
}
input,label{
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
#uwaga{
    width: 100%;
    border-radius: 5px;
}
.guzik{
    text-align: center;
    background-color: cornflowerblue;
}
#przycisk{
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    color: white;
    font-size: medium;
}
*:required{
    border: 1px solid red;
}
.conteiner{
    display: flex;
    flex-direction: column; 
}
.poziomo{
    display: flex;
    flex-direction: row;
    gap: 130px;
}
