body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1.5em;
    line-height: 200%;
    background-color: #222;
}
h1{
    text-align: center;
}
dt::first-letter{
    font-size: 30px;
    color: darkorange;
    font-style: italic;
}
dd::first-line{
    font-size: 12px;
    color: gray;

}
#link:link{
    text-decoration: none;
}
#visited:visited{
    color: lightgreen;
    text-decoration: none;
}
#active:active{
    text-transform: uppercase;
    color: coral;
}
#hover:hover{
    background-color: deeppink;
}
#focus:focus{
    text-transform: uppercase;
    color: aqua;

}
#text:focus, #submit:focus{
    background-color: red;
    color: white;
}
#text:hover, #submit:hover{
    background-color: darkgray;
}