body{
    counter-reset: numeracja1;
}
h3{
    counter-increment: numeracja1;
}
h3::before{
    content: "like " counter(numeracja1) " blok lekcji: ";
    color: darkred;
    font-weight: bold;
    letter-spacing: 0.2em;
}