*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0;
    padding: 5px;
    border: 15px solid rgb(220, 230, 249);
}
p{
    text-align: center;
}
#zero{
    margin: 10px;
    padding: 10px;
}
.logo{
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
    color: navy;
}
.bold{
    font-weight: 900;
    font-size: 36px;
}
.thin{
    font-weight: 200;
    font-size: 32px;
    letter-spacing: 3px;
}
.logo,span{
    font-family: 'Courier New', Courier, monospace;
}
span{
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 128,0.5);
}
#border{
    margin: 10px auto;
    padding: 10px;
    border-top: 3px double navy;
    border-bottom: 1px solid navy;
    font-size: larger;
}
.box{
    margin: 20px auto;
    padding: 5px 30px;
    background-color: lightblue;
    width: 70%;
    max-height: 400px;
    border: 2px solid navy;
    box-shadow: 0px 4px 8px rgba(0,0, 0, 0.5);
}
#none{
    list-style-type: none;
}
#circle{
    list-style-type: circle;
}
#disk{
    list-style-type: disc;
}
#square{
    list-style-type: square;
}
#decimal{
    list-style-type: decimal;
}
#d0{
    list-style-type: decimal-leading-zero;
}
#lr{
    list-style-type: lower-roman;
}
#ur{
    list-style-type: upper-roman;
}
#la{
    list-style-type: lower-alpha;
}
#ua{
    list-style-type: upper-alpha;
}
LI::marker{
    font-weight: bolder;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace  ;
}
#auto{
    list-style-image: url(/zdjecia/auto.png);
}
#film{
    list-style-image: url(/zdjecia/movie.png);
}
.radius{
    border-radius: 15px;
}
.teardrop-l{
    width: 50%;
    border-bottom-left-radius: 75px;
    border-top-right-radius: 75px;
    text-align: left;
}
.teardrop-r{
    width: 50%;
    border-bottom-right-radius: 75px;
    border-top-left-radius: 75px;
    text-align: left;
}
#OUTSIDE{
    list-style-position: outside;
}
#INSIDE{
    list-style-position: inside;
}
.cos,h2{
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(220, 230, 249);
    width: 200px;
    height: 200px;
    border: 2px solid navy;
    border-radius: 200px;
    box-shadow: 0px 4px 8px rgb(0,0 ,0 ,0.5);
    text-align: center;
    
}
#all{
    list-style: inside circle;
}