#imie {
	font-family: Arial, Helvetica, sans-serif;
	border: 3px ridge greenyellow;
	color: white;
	padding: 10px;
	border-radius: 10px;
}
body {
	background-color: rgb(52, 50, 50);
	color: aliceblue;
}
div {
	width: 900px;
	height: 450px;
	background-color: darkorchid;
	text-align: center;
	font-size: x-large;
	border: 10px dashed;
	border-color: blue red green yellow;
	border-radius: 20px;
}
#strona {
	border: 2px dotted purple;
	border-radius: 5%;
	color: aqua;
	padding: 10px;
}
#pochylone {
	color: aquamarine;
	border-top: 2px groove;
	border-bottom: 2px groove;
	border-color: black aliceblue black aliceblue;
	padding: 10px;
}
